.about_banner {
  display: flex;
  align-items: center; // 垂直置中對齊
  gap: 3rem; // 圖片和文字間的間距

  .about_carousel {
    flex: 1; // 讓輪播佔據剩餘空間
    max-width: 75%; // 限制輪播最大寬度
  }
}
.about_banner_title {
  display: flex;
  gap: 30px;
  .about-banner-en {
    font-size: 2rem;
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    padding-top: 20px;
  }
  .about-banner-divider {
    font-size: 80px;
    font-weight: 100;
    margin: 0 10px;
    transform: rotate(15deg);
    display: inline-block;
  }
  .about-banner-ch {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5px;
    padding-top: 60px;
  }
}

.about_intro {
  margin: 60px;
}

.origin {
  background-color: #eff2f4;
  width: 60vw;
  height: auto;
  padding: 60px;
  position: relative;
}

.origin_text {
  display: flex;
  align-items: center;
  gap: 30px;
  h3 {
    font-size: 1.25rem;
  }

  img {
    width: 0.1vw;
    height: 60px;
  }
}
.deco_num01 {
  position: absolute;
  right: -45px;
  bottom: -70px;
  img {
    width: 8vw;
    height: auto;
  }
}

.deco_text {
  position: absolute;
  left: 30px;
  top: -80px;
  font-size: 5.5rem;
  font-family: "Noto Serif TC", serif;
}

.philosophy {
  margin-top: 110px;
  margin-left: auto;
  background-color: #d9d9d9;
  width: 72vw;
  height: auto;
  padding: 80px 40px;
  position: relative;
}

.philosophy_text {
  display: flex;
  align-items: center;
  gap: 30px;

  h3 {
    font-size: 1.25rem;
  }

  img {
    width: 0.1vw;
    height: 60px;
  }
}
.deco_num02 {
  position: absolute;
  left: -30px;
  bottom: -110px;
}
.deco_text02 {
  position: absolute;
  right: 30px;
  top: -80px;
  font-size: 5.5rem;
  font-family: "Noto Serif TC", serif;
}

.craftmanship {
  margin-top: 200px;
  background-color: #eff2f4;
  width: 100vw;
  height: auto;
  padding: 100px 40px;
  position: relative;
}
.craftmanship_text {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0 0 20px;
  h3 {
    font-size: 1.25rem;
  }

  img {
    width: 0.1vw;
    height: 60px;
  }
}

.deco_num03 {
  position: absolute;
  right: 80px;
  bottom: -100px;
}
.deco_text03 {
  position: absolute;
  left: 30px;
  top: -80px;
  font-size: 5.5rem;
  font-family: "Noto Serif TC", serif;
}

.spirit {
  margin-top: 250px;
  margin-bottom: 220px;
  margin-left: auto;
  background-color: #d9d9d9;
  width: 72vw;
  height: auto;
  padding: 80px 40px;
  position: relative;
}

.spirit_text {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 0 150px;

  h3 {
    font-size: 1.25rem;
  }

  img {
    width: 0.1vw;
    height: 60px;
  }
}
.deco_num04 {
  position: absolute;
  left: -30px;
  bottom: -110px;
}
.deco_text04 {
  position: absolute;
  right: 30px;
  top: -80px;
  font-size: 5.5rem;
  font-family: "Noto Serif TC", serif;
}
