@use "../variables" as *;
@use "../functions" as *;


.glossary_intro{
  background-image: url("/images/bg.jpg");
  width: $w-100;
  height: auto;
}
.glossary_intro_desc{
  text-align: center;
  background-color: #fff;
  width: 500px;
  height: auto;
}
/*------ 按鈕區------*/
.tabs-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
  
}

.tab-button {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #222 ;
  }

  &.active {
    background-color: #333; // 頁面圖片中的深色按鈕
    color: #fff;
  }
}
