.shop-title {
  font-size: 4.2rem;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 150px;
  background: center / cover no-repeat url("/images/bg.jpg");
  color: aliceblue;
}
